/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/bootstrap/dist/css/bootstrap.css'; */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

/* .mat-toolbar.mat-primary {
    background: #2c95cd;
}

.mat-icon-button.mat-primary {
    color: #2c95cd;
}
 */
 .card-container {
    margin-top: 30px;
    margin-bottom: 30px;
}


 .mat-step-icon {
    background-color: #e0e0e0 !important;
    z-index: 1;
 }

 .mat-step-icon-selected {
    background-color: #b3b3b3 !important;
    z-index: 1;
 }

 .td.mat-cell {
     padding-right: 10px  !important;
 }

 .mat-stepper-vertical {
    font-size: xx-small !important;
 }

 .mat-vertical-stepper-header {
    padding: 10px 24px 10px 24px !important;
}

.mat-form-field-infix {
    border: 0px !important
}
.mat-vertical-content {
    padding-bottom: 0px !important
}

 .center-screen {
    position: absolute;
    top: 50%;
    /*half of the modal height*/
    margin-top: -100px;
    left: 60%;
    /*half of the modal width*/
    margin-left: -180px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
